<h1>Продавцы</h1>
<div style='width: 100%; display: flex; justify-content: end;'>
  <%= link_to 'Новый Продавец', new_seller_path, class: 'button-link' %>
</div>

<table class="seller-table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Контактная информация</th>
      <th>Адрес</th>
      <th>Телефон</th>
      <th>Email</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.name %></td>
        <td><%= seller.contact_info %></td>
        <td><%= seller.address %></td>
        <td><%= seller.phone_number %></td>
        <td><%= seller.email %></td>
        <td class="actions">
          <%= link_to 'Показать', seller_path(seller), class: 'btn-action' %> |
          <%= link_to 'Редактировать', edit_seller_path(seller), class: 'btn-action' %> |
          <%= link_to 'Удалить', seller_path(seller), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn-delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
