<div id="<%= dom_id(product) %>" style="border: 1px solid #ddd; padding: 15px; border-radius: 5px; background-color: #f9f9f9;">
  <p style="font-size: 16px; margin: 5px 0;">
    <strong>Название:</strong>
    <span><%= product.name %></span>
  </p>

  <p style="font-size: 16px; margin: 5px 0;">
    <strong>Полное название:</strong>
    <span><%= product.full_name %></span>
  </p>

  <p style="font-size: 16px; margin: 5px 0;">
    <strong>Цена:</strong>
    <span><%= product.price %></span>
  </p>

  <p style="font-size: 16px; margin: 5px 0;">
    <strong>Описание:</strong>
    <span><%= product.description %></span>
  </p>

  <p style="font-size: 16px; margin: 5px 0;">
    <strong>Дата производства:</strong>
    <span><%= product.production_date %></span>
  </p>

  <p style="font-size: 16px; margin: 5px 0;">
    <strong>Гарантия:</strong>
    <span><%= product.guarantee %></span>
  </p>

  <p style="font-size: 16px; margin: 5px 0;">
    <strong>Производитель:</strong>
    <span><%= product.producer_id %></span>
  </p>

  <p style="font-size: 16px; margin: 5px 0;">
    <strong>Скидка:</strong>
    <span><%= product.discount %></span>
  </p>
  
</div>
